@model List<Demo.BL.Models.UserInRoleVM>
@{
    ViewData["Title"] = "Add Or Remove Users";
    var RoleId = ViewBag.RoleId;
}

<a>@SharedLocalizer["Home"] /@SharedLocalizer["Roles"]/ AddOrRemoveUsers </a>



<form class="form-group" method = "post">

    <div class="card-header">
        <h2>Add Or Remove User In Role</h2>
    </div>
    
    @for (int i = 0; i < Model.Count; i++)
    {

        <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
        <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />

    }

    <div class="card-footer">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>

</form>


