@model IdentityRole


@{
    ViewData["Title"] = @SharedLocalizer["Roles"];
}

<a>@SharedLocalizer["Home"] /@SharedLocalizer["Roles"]/ @SharedLocalizer["Create"] </a>


<div class="block-header">
    <h2>@SharedLocalizer["CNR"]</h2>
</div>

<div class="block-header text-info"> @ViewBag.CreateRole </div>


<form class="form-group" asp-controller="Role" asp-action="Create">

    <div asp-validation-summary="All" class="text-danger"></div>



    <label asp-for="Name">@SharedLocalizer["Name"]</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />


    <center>
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-danger" />
    </center>

</form>


